{% extends 'base.html' %}


{% block title %}Royal Hotels{% endblock title %}

{% block header %}Product Details:{% endblock header %}
  
{% block content %}

<div class="admin_panel">
  <form action="../dtails/" name="productForm" method="POST">
    <div class="formObject">
      <table>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_table }}
      </table>
      <div class="frmBtn_container">
        <ul>
          <li><a href="../{{ form.pk }}delete/">DELETE</a></li>
          <li><a href="{% url 'admin_console' %}">CANCEL</a></li>
        </ul>
      </div>
    </div>
  </form>
</div>
  
{% endblock content %}